
  <div class="row">
    <div class="row barTitle col-12 px-5 py-2 align-items-center">
      <div class="col-1"><img class="img-logo" src="/assets/img/logo-santander.png" alt="logo_banco"></div>
      <div class="col-10 ps-5">
        <span class="me-3">Prueba tecnica banco Santander</span>
      <span>version 1.0</span>
      </div>
    </div>
    <div class="col-12">
      <div class="container">
        <div class="sub-title py-4">
          <span>Listado de estados</span>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="task">
            <th mat-header-cell *matHeaderCellDef> Task </th>
            <td mat-cell *matCellDef="let element"> <div class="state" [class]="{'in-progress': element.task === 'In progress', 'completed' : element.task === 'Completed', 'pending' : element.task === 'Pending' }" >{{element.task}}</div></td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      
    </div>
  </div>

<router-outlet />
